@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome Version 1.0</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div> 

<!DOCTYPE html>
<html>
<head>
    <title>Centered Message</title>
    <style>
        .center {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            font-size: 24px;
            font-weight: bold;
        }
    </style>
</head>
<body>
    <div class="center">
        <p>This is a message from Jitterbit for WebAppKK3</p>
    </div>
</body>
</html>